

html , body {
	background: url(imgs/background.png); 
	background-size:cover; 
	
	color: #fff; 
	font-family: Helvetica;
	margin: 0; 
	padding: 0;
}

#viewport {
	border:solid 1px #333;
	height : 480px;
	width : 720px;
	z-index:100;
	margin:0;
	padding:0;
	background-color: rgba(33, 33, 33, 0.52);
}

#chatbox{
	width:200px;
	height:480px;
	float: left;
	margin:0;
	border-left:solid 1px #333;
	border-top:solid 1px #333;
	border-bottom:solid 1px #333;
	background: rgba(33, 33, 33, 0.52);
}

#center{
	margin: auto;
	left:0; right:0; top:0; bottom:0;
	position: absolute;
	height : 480px;
	width : 940px;
	padding:0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none; 
}
#chat_output{
	border-top:solid 1px #333;
	border-bottom:solid 1px #333;
	margin-bottom:2px;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	height:353px;
	width:100%;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text; 
}
#chat_input{
	width:144px;
	margin-left:1px;
}


.button{
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4d4d4d), color-stop(1, #080808));
	background:-moz-linear-gradient(top, #4d4d4d 5%, #080808 100%);
	background:-webkit-linear-gradient(top, #4d4d4d 5%, #080808 100%);
	background:-o-linear-gradient(top, #4d4d4d 5%, #080808 100%);
	background:-ms-linear-gradient(top, #4d4d4d 5%, #080808 100%);
	background:linear-gradient(to bottom, #4d4d4d 5%, #080808 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4d4d', endColorstr='#080808',GradientType=0);
	background-color:#4d4d4d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #030303;
}

.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #080808), color-stop(1, #4d4d4d));
	background:-moz-linear-gradient(top, #080808 5%, #4d4d4d 100%);
	background:-webkit-linear-gradient(top, #080808 5%, #4d4d4d 100%);
	background:-o-linear-gradient(top, #080808 5%, #4d4d4d 100%);
	background:-ms-linear-gradient(top, #080808 5%, #4d4d4d 100%);
	background:linear-gradient(to bottom, #080808 5%, #4d4d4d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#080808', endColorstr='#4d4d4d',GradientType=0);
	background-color:#080808;
}

.button:active {
	position:relative;
	top:1px;
}

.text{
	color:white;
	height:20px;
	font-size:15px;	
	background: rgba(33, 33, 33, 0.52);
	border:solid 1px #333;
}

#game_room{
	display:none;
}

#game_login{
	height:100%;
	display:none;
}

#name{
	width:192px;
}

#login_form{
	background:rgba(33, 33, 33, 0.52);
	border:solid 1px #333;
	margin: auto;
	left:0; right:0; top:0; bottom:0;
	position: absolute;
	width:250px;
	height:196px;
}

#game_over{

	display:none;
}

#restart_form{
	background: rgba(33, 33, 33, 0.52);
	border:solid 1px #333;
	margin: auto;
	left:0; right:0; top:0; bottom:0;
	position: absolute;
	width:300px;
	height:130px;
}

#footer{
	width:100%;
	position:absolute;
	bottom:5px;
	left:0px;
	text-align:center;
}


/* unvisited link */
#footer a:link {
    color: #FFF;
}

/* visited link */
#footer a:visited {
    color: #FFF;
}

.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 2px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
	      color-stop(.25, rgba(255, 255, 255, .2)), 
	      color-stop(.25, transparent), color-stop(.5, transparent), 
	      color-stop(.5, rgba(255, 255, 255, .2)), 
	      color-stop(.75, rgba(255, 255, 255, .2)), 
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}

.animate > span:after {
	display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.nostripes > span > span, .nostripes > span:after {
	-webkit-animation: none;
	background-image: none;
}


#loading_screen{
	background:rgba(33, 33, 33, 0.52);
	border:solid 1px #333;
	margin: auto;
	left:0; right:0; top:0; bottom:0;
	position: absolute;
	width:480px;
	height:480px;
	padding:10px;
}

#load_box{
	/*border:solid 1px #333;*/
	width:420px;
	height:420px;
	background:url('imgs/html5-transparent.png');
	background-position: center;
	background-repeat: no-repeat;

}


#loading_screen > *{
	margin: 0 auto;
}


